@model AdminPage.Models.Brand;
<div class="container-fluid bg-white shadow-lg py-3 mt-1 mb-3">
    <h1 class="text-success fs-2 fw-bold text-center text-uppercase">
        create new brand
    </h1>
</div>
    <div class="container">
         <div class="row">
            <div class="col-6 m-auto p-3 text-white shadow-lg rounded-3">
        <h2 class="text-center fw-bold fs-4 text-primary text-uppercase my-2">form create new brand</h2>
            <form class="row g-3"  asp-action="Create" enctype="multipart/form-data">
                <div class="col-md-12">
                    <label asp-for="Brand_name" class="form-label text-primary">Brand name</label>
                    <input asp-for="Brand_name" type="text" class="form-control" id="">
                    <span asp-validation-for="Brand_name" class="text-danger"></span>
                </div>
                <div class="col-md-12 p-2">
                    <label asp-for="Brand_description" class="form-label text-primary">Description</label>
                    <input asp-for="Brand_description" class="form-control">
                </div>
      
                    <div>
                    <input type="file" asp-for="Img" value="" />
                    </div>
                    <input type="datetime-local" name="Create_at" value="" />
                    <input type="datetime-local" name="Update_at" value="" />

                <div class="col-12">
                    <button type="submit" name="Create" class="btn btn-primary text-uppercase">create</button>
                </div>
            </form>
            </div>
        </div>
    </div>
